<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Accueil</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.0/css/bootstrap.min.css">
    <link th:href="@{/css/home.css}" rel="stylesheet" />
    <script th:src="@{/js/home.js}"></script>
</head>
<body>
    <div class='Accueil'>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">GroupApp</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Dropdown
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        <h1>Bienvenue sur la page d'accueil</h1>

        <h2>Définir le nombre de groupes et d'utilisateurs</h2>
        <form id="admin_form" th:action="@{/create_users_and_groups}" method="post" th:object="${groupAndUserForm}" >
            <div class="mb-3">
              <label for="userNumber" class="form-label">Nombre d'utilisateurs</label>
              <input 
                type="number" 
                class="form-control" 
                id="userNumber" 
                aria-describedby="numberUserHelp"
                th:field="*{userNumber}"
              >
              <div id="numberUserHelp" class="form-text">Choisissez le nombre d'utilsateur qui utiliseront l'application</div>
            </div>
            <div class="mb-3">
              <label for="groupNumber" class="form-label">Nombre de groupes</label>
              <input 
                type="number" 
                class="form-control" 
                id="groupNumber" 
                aria-describedby="numberGroupHelp"
                th:field="*{groupNumber}"
              >
              <div id="numberGroupHelp" class="form-text">Choisissez le nombre de groupe que vous souhaitez avoir sur l'application</div>
            </div>

            <div id="info_form">
                <div id="info_form_last">
                
                </div>
                <div id="info_form_user">
                
                </div>
            </div>
            <button type="submit" disabled="true" class="btn btn-primary">Submit</button>
          </form>
</body>
</html>

