<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
    <div class='login'>
        <div></div>
        <form th:action="@{/login}" method="post" th:object="${loginForm}">
            <table>
                <tbody>
                    <tr>
                        <td><label htmlFor="email">Identifiant * : </label></td>
                        <td><input
                            type="email"
                            id="email"
                            required
                            th:field="*{email}"
                        /></td>
                    </tr>
                    <tr>
                        <td><label htmlFor="password">Mot de passe * : </label></td>
                        <td><input
                            type="password"
                            id="password"
                            required
                            th:field="*{password}"
                        /></td>
                    </tr>
                </tbody>
            </table>
            <div class='signup_submit'>
                <input type="submit" id="login-submit" value="Se connecter" />
            </div>
        </form>
    </div>
</body>
</html>

